*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial,sans-serif;
}

h1
{
    color: brown;
}
.nowarp
{
    white-space: nowrap;
}
.dropDownItem
{
    font-size: 15px;
}

/* Mobile */
#SecondNavItem1,#SecondNavItem2,#SecondNavItem3,#SecondNavItem4,#SecondNavItem5,#SecondNavItem6,#FristNavItem1,#FristNavItem2,#FristNavItem3,#FristNavItem4,#myImage{
    display: block;
}

@media (max-width: 1290px) 
{
    #SecondNavItem1
    {
        display: none;
    }
}
@media (max-width: 1205px) 
{
    #SecondNavItem2
    {
        display: none;
    }
}
@media (max-width: 1125px) 
{
    #SecondNavItem3
    {
        display: none;
    }
}
@media (max-width: 1014px) 
{
    #SecondNavItem4
    {
        display: none;
    }
}
@media (max-width: 1014px) 
{
    #SecondNavItem4
    {
        display: none;
    }
}
@media (max-width: 800px) 
{
    #FristNavItem1
    {
        display: none;
    }
}
@media (max-width: 730px) 
{
    #FristNavItem2,#myImage
    {
        display: none;
    }
}
@media (max-width: 530px) 
{
    #FristNavItem3,#SecondNavItem5
    {
        display: none;
    }
}
@media (max-width: 460px) 
{
    #FristNavItem4,#SecondNavItem6
    {
        display: none;
    }
}


